.fileBox .fileName {
    display: inline-block;
    width: 190px;
    height: 30px;
    padding-left: 10px;
    margin-right: 5px;
    line-height: 30px;
    border: 1px solid #aaa;
    background-color: #fff;
    vertical-align: middle
}

.fileBox .btn_file {
    display: inline-block;
    border: 1px solid #000;
    width: 100px;
    height: 30px;
    font-size: 0.8em;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin:0;
}

.fileBox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}