{% extends 'base.html' %}

{% block title %}상세보기{% endblock %}

{% block content %}
    {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
            {% for message in messages %}
                <strong>{{ message.tags }}</strong>
                <ul>
                    <li>{{ message.message }}</li>
                </ul>
            {% endfor %}
        </div>
    {% endif %}

    {% if request.user == board.user %}
        <a href="{% url 'daham:board_update' board.id %}">수정</a>
        <a href="#" class="delete" data-uri="{% url 'daham:board_delete' board.id %}">삭제</a>
    {% endif %}

    <h2>{{ board.title }}</h2>

    <h4>{{ board.content }}</h4>
    마감 {{ board.end_date }}
    <h4>{{ board.created_date }}</h4>
    {% if board.image %}
        <img src="{{ board.image.url }}" class="board-img" alt="">
    {% endif %}

    {% if application_list.count == 0 %}
        <a {% if board.user.username == user.username %}class="disabled" href="#" {% endif %}
           href="{% url 'daham:application_create' board.id %}">
            <button>신청</button>
        </a>
    {% else %}
        {% for application in application_list.all %}
            <a {% if board.user.username == user.username %}class="disabled" href="#" {% endif %}
               href="{% url 'daham:application_delete' application.id %}">
                <button>신청 취소</button>
            </a>
        {% endfor %}
    {% endif %}

    <form action="{% url 'daham:comment_create' board.id %}" method="post">
        {% csrf_token %}
        <input {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content">
        <input type="submit" value="답글">
    </form>

    {% for comment in board.comment_set.all %}
        <li>
            {{ comment.content }} {{ comment.created_date|date:'Y-m-d' }} {{ comment.user.username }}
            {% if request.user == comment.user %}
                <a href="#" class="delete" data-uri="{% url 'daham:comment_delete' comment.id %}">삭제</a>
            {% endif %}
        </li>
    {% endfor %}
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".delete").on('click', function () {
                if (confirm("정말 삭제하시겠습니까?")) {
                    location.href = $(this).data('uri');
                }
            });

            $(".disabled").on('click', function () {
                alert("자신이 게시한 봉사는 신청/신청취소 할 수 없습니다. 다른 봉사를 찾아보세요!")
            })
        });
    </script>
{% endblock %}