{% extends 'base.html' %}

{% load static %}

{% block title %}글 목록{% endblock %}

{% block content %}
    {% if board_list %}
        <table>
            {% for board in board_list %}
                <tr class="card border-info mb-3">
                    <td class="card-body text-info">
                    <a href="{% url 'daham:detail' board.id %}" class="card-title board-title">{{ board.title }}</a>
                    </td>
                    {% if board.application_set.all.count %}
                        <td>{{ board.application_set.all.count }}명의 신청자</td>
                    {% else %}
                        <td>지원자가 없습니다</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <a href="{% url 'daham:board_create' %}" class="btn btn-primary btn-lg">글 등록</a>
{% endblock %}