{% extends 'base.html' %}

{% block title %}상세보기{% endblock %}

{% block content %}
    {% if user.email == board.user.email %}
        <a href="{% url 'daham:board_update' board.id %}">수정</a>
        <a href="{% url 'daham:board_delete' board.id %}" class="delete">삭제</a>
    {% endif %}

    <h2>{{ board.title }}</h2>

    <h4>{{ board.content }}</h4>
    <h4>{{ board.created_date }}</h4>
    <a {% if board.user.username == user.username %}disabled{% endif %}href="{% url 'daham:application_create' board.id %}"><button>신청</button></a>

    <form action="{% url 'daham:comment_create' board.id %}" method="post">
        {% csrf_token %}
        <input {% if not user.is_authenticated %}disabled{% endif %}name="content" id="content">
        <input type="submit" value="답글">
    </form>

    {% for comment in board.comment_set.all %}
        <li>{{ comment.content }} {{ comment.created_date|date:'Y-m-d' }}</li>
    {% endfor %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".delete").on('click', function () {
            if(confirm("정말 삭제하시겠습니까?")) {
                location.href = $(this).data('uri');
            }
        });
    });
</script>
{% endblock %}