{% extends 'base.html' %}

<head>
    {% load static %}
    {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/board_list.css' %}">
    {% endblock %}
    {% block title %}글 목록{% endblock %}
</head>

{% block content %}
    {% if board_list %}
        <table>
            {% for board in board_list %}
                <tr class="card border-info mb-3">
                    <td class="card-body text-info">
                        <a href="{% url 'daham:detail' board.id %}" class="card-title board-title">{{ board.title }}</a>
                        {% if today == board.end_date %}
                            봉사일 : <span class="end-date" style="color:red">{{ board.end_date }}</span>
                        {% else %}
                            봉사일 : <span class="end-date">{{ board.end_date }}</span>
                        {% endif %}
                    </td>
                    <td class="card border-info mb-3">
                        {{ board.created_date }}
                    </td>
                    <td class="card border-info mb-3">
                        글쓴이 : {{ board.user.username }}
                    </td>

                    <td>
                         <i class="bi bi-chat-fill"></i> {{ board.comment_set.all.count }}&nbsp;&nbsp;
                        <i class="bi bi-people-fill"></i> {{ board.application_set.all.count }}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
            <!-- 이전페이지 -->
            {% if board_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ border_list.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
            </li>
            {% endif %}

            <!-- 페이지리스트 -->
            {% for page_number in board_list.paginator.page_range %}
                {% if page_number >= board_list.number|add:-4 and page_number <= board_list.number|add:4 %}
                    {% if page_number == board_list.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="?page{{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                    </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- 다음페이지 -->
            {% if board_list.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ board_list.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
            </li>
            {% endif %}
        </ul>
    {% endif %}

    <a href="{% url 'daham:board_create' %}" class="btn btn-primary btn-lg">글 등록</a>
{% endblock %}