{% extends 'base.html' %}
{% block title %}마이페이지{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- 유저 프로필 -->
                <img {% if person.profile.image %} src="{{ person.profile.image.url }}"
                                                   {% else %}src="https://i.stack.imgur.com/34AD2.jpg"{% endif %}
                                                   width="150rem" style="border-radius: 50%;" alt="">
                {{ person.profile.description }}
                {{ request.user.username }}
                {{ request.user.email }}
                <a href="{% url 'daham:profile' %}">수정</a>
            </div>
            <div class="col">
                <h3>내가 신청한 봉사</h3>
                {% if board_list %}
                    {% for application in board_list.all %}
{#                        {{ board_list.all.1.board.title }}#}
                        {{ application.board.title }}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}